.buttonsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width: 45px;
  height: 45px;
  margin: 6px;
  border: 2px 3px 4px solid rgb(7, 7, 16);
  border-radius: 50%;
  box-shadow: 1px 0px 13px 0px rgb(0, 0, 0)
}